[Unit]
Description=NetInfo Sender Timer

[Timer]
Unit=netinfo.service
OnBootSec=10s
OnUnitActiveSec=5m
Persistent=true

[Install]
WantedBy=timers.target
