[Unit]
Description=NetInfo S3 Sender
After=network.target network-online.target

[Service]
Environment="N_ENDPOINT=xxx"
Environment="N_ACCESS_KEY_ID=xxx"
Environment="N_SECRET_ACCESS_KEY=xxx"
Environment="N_BUCKET=xxx"
Environment="N_OBJECT_PATH=xxx"
Environment="N_ENCRYPTION_KEY=xxx"
Type=oneshot
User=root
ExecStart=/usr/local/bin/netinfo send s3 -endpoint=${N_ENDPOINT} -path_style -access_key_id=${N_ACCESS_KEY_ID} -secret_access_key=${N_SECRET_ACCESS_KEY} -bucket=${N_BUCKET} -object_path=${N_OBJECT_PATH} -encryption_key=${N_ENCRYPTION_KEY}

[Install]
WantedBy=multi-user.target