[Unit]
Description=IP Sync Sender
After=network.target network-online.target

[Service]
Environment=KEY=""
Environment=INTERVAL=""
Environment=WEBDAV_ENDPOINT=""
Environment=WEBDAV_USERNAME=""
Environment=WEBDAV_PASSWORD=""
Environment=WEBDAV_PATH=""
Type=oneshot
User=root
ExecStart=/usr/local/bin/ipsync send webdav

[Install]
WantedBy=multi-user.target