[Unit]
Description=IP Sync Receiver
After=network.target network-online.target

[Service]
Environment="I_REMOTE_INTERFACE=xxx"
Environment="I_WG_INTERFACE=xxx"
Environment="I_ENDPOINT=xxx"
Environment="I_USERNAME=xxx"
Environment="I_PASSWORD=xxx"
Environment="I_FILEPATH=xxx"
Environment="I_ENCRYPTION_KEY=xxx"
Type=oneshot
User=root
ExecStart=/usr/local/bin/ipsync receive -remote_interface=${W_REMOTE_INTERFACE} -wg_interface=${W_WG_INTERFACE} webdav -endpoint=${W_ENDPOINT} -username=${W_USERNAME} -password=${W_PASSWORD} -filepath=${W_FILEPATH} -encryption_key=${W_ENCRYPTION_KEY}

[Install]
WantedBy=multi-user.target
