[Unit]
Description=IP Sync Receiver
After=network.target network-online.target

[Service]
Environment="I_REMOTE_INTERFACE=xxx"
Environment="I_WG_INTERFACE=xxx"
Environment="I_ENDPOINT=xxx"
Environment="I_ACCESS_KEY_ID=xxx"
Environment="I_SECRET_ACCESS_KEY=xxx"
Environment="I_BUCKET=xxx"
Environment="I_OBJECT_PATH=xxx"
Environment="I_ENCRYPTION_KEY=xxx"
Type=oneshot
User=root
ExecStart=/usr/local/bin/ipsync receive -remote_interface=${W_REMOTE_INTERFACE} -wg_interface=${W_WG_INTERFACE} s3 -endpoint=${W_ENDPOINT} -path_style -access_key_id=${W_ACCESS_KEY_ID} -secret_access_key=${W_SECRET_ACCESS_KEY} -bucket=${W_BUCKET} -object_path=${W_OBJECT_PATH} -encryption_key=${W_ENCRYPTION_KEY}

[Install]
WantedBy=multi-user.target
