[Unit]
Description=IP Sync Receiver Timer

[Timer]
Unit=ipsync.service
OnBootSec=10s
OnUnitActiveSec=5m
Persistent=true

[Install]
WantedBy=timers.target
