[Unit]
Description=IP Sync Watchdog
After=network.target network-online.target

[Service]
Environment=KEY=""
Environment=INTERVAL=""
Environment=WG_REMOTE_INTERFACE=""
Environment=WG_INTERFACE=""
Environment=WEBDAV_ENDPOINT=""
Environment=WEBDAV_USERNAME=""
Environment=WEBDAV_PASSWORD=""
Environment=WEBDAV_PATH=""
Type=oneshot
User=root
ExecStart=/usr/local/bin/ipsync watchdog webdav

[Install]
WantedBy=multi-user.target
