[Unit]
Description=IP Sync Watchdog
After=network.target network-online.target

[Service]
Environment=KEY=""
Environment=INTERVAL=""
Environment=WG_REMOTE_INTERFACE=""
Environment=WG_INTERFACE=""
Environment=S3_ENDPOINT=""
Environment=S3_ACCESS_KEY_ID=""
Environment=S3_SECRET_ACCESS_KEY=""
Environment=S3_PATH_STYLE=true
Environment=S3_BUCKET=""
Environment=S3_OBJECT_PATH=""
Type=oneshot
User=root
ExecStart=/usr/local/bin/ipsync watchdog s3

[Install]
WantedBy=multi-user.target
